<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>$site_description$</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item$if(title=='Home')$active$endif$" href="/">Home</a>

    <!--- The code below dynamically generates a sidebar nav of pages with -->
    <!--- `layout: page` in the front-matter. See readme for usage. -->

    $for(list_pages)$
      $if(title)$
          <a class="sidebar-nav-item$if(url==node_url)$active$endif$" href="$node_url$">$title$</a>
      $endif$
    $endfor$

    <a class="sidebar-nav-item$if(title=='Archives')$active$endif$" href="/.archive.html">Archives</a>

    <!---
    <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
    -->
    <a class="sidebar-nav-item" href="$github-repo$">GitHub project</a>
    <!---
    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    -->
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; $copy-year$. All rights reserved.
    </p>
  </div>
</div>
