<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>$site_description$</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item$if(home)$ active$endif$" href="$baseurl$">Home</a>

    <!--- The code below dynamically generates a sidebar nav of the files in the folder /pages -->

    $for(list_pages)$
      $if(title)$
        <a class="sidebar-nav-item$if(eval(title))$ active$endif$" href="$baseurl$$node-url$">$title$</a>
      $endif$
    $endfor$

    <a class="sidebar-nav-item$if(archive)$ active$endif$" href="$baseurl$/archive.html">Archive</a>

    <a class="sidebar-nav-item" href="$github-repo$">GitHub project</a>

  </nav>

  <div class="sidebar-item">
    <p>
      &copy; $copy-year$. All rights reserved.
    </p>
    <p>
        <img src="$baseurl$/images/haskell-logo.png" class=logo style="display: inline;"/>
        Site created with
        <a href="https://jaspervdj.be/hakyll">Hakyll</a>.
        <br>
        Modified theme
        <a href="https://github.com/hahey/lanyon-hakyll">lanyon-hakyll</a>
        based on
        <a href="https://lanyon.getpoole.com/">Lanyon</a>.
    </p>
  </div>
</div>
